// filepath: /c:/Users/maxes/Desktop/Proyectos/cibersecurity/.gitignore
node_modules

/files/logs
/dist
dist
dist-ssr
*.local

# Ignorar archivos ejecutables grandes
dist/cibersecurity\ Setup\ 1.0.0.exe
dist/win-unpacked/cibersecurity.exe
node_modules/electron/dist/electron.exe

# Ignorar archivos de configuración del entorno
.env